{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Ranking de Inscrições</h2>

    <div class="alert alert-info text-center">
        Total de inscrições: <strong>{{ inscritos|length }}</strong>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>Nome Social</th>
                <th>Telefone</th>
                <th>RG</th>
                <th>Idade</th>
                <th>Renda</th>
                <th>Etnia</th>
                <th>Cidade</th>
                <th>Território</th>
                <th>Gênero/Sexualidade</th>
                <th>População de Rua</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            {% for inscrito in inscritos %}
            <tr>
                <td>{{ inscrito.nome_civil }}</td>
                <td>{{ inscrito.nome_social }}</td>
                <td>{{ inscrito.telefone }}</td>
                <td>{{ inscrito.rg_numero}}</td>
                <td>{{ inscrito.calcular_idade }}</td>
                <td>{{ inscrito.get_renda_familiar_display }}</td>
                <td>{{ inscrito.get_etnia_display }}</td>
                <td>{{ inscrito.cidade }}</td>
                <td>{{ inscrito.get_territorio_display }}</td>
                <td>{{ inscrito.get_genero_sexualidade_display }}</td>
                <td>{{ inscrito.populacao_de_rua|yesno:"Sim,Não" }}</td>
                <td><strong>{{ inscrito.pontuacao }}</strong></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="text-center">Nenhuma inscrição encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
